body{
    background-color: #fcf6eb;
}

#selectContainer{
    margin-top: 50px;
    height: 80px;
    width: 600px;
    background-color: #e0d9d2;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#gosterButton{
    width: 100px;
    margin-left: 15px;
    background-color: #836958;
    color: white;
}

#ilSec, #ilceSec {
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    width: 200px;
    display: inline-block;
}

#currentContainer{
    margin-top: 20px;
    width: 600px;
    height: 230px;
    background-color: #e0d9d2;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#dayContainer{
    margin-top: 20px;
    width: 600px;
    height: 190px;
    background-color: #f5e6d8;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.weather-icon {
  font-size: 90px;
  width: 90px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 90px;
  box-sizing: content-box;
}


.weather-icon-big{
  font-size: 130px;
  width: 130px;
  height: 130px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: content-box;
}
